/*This sheet is used to style the main look of the dashboard*/

/*Elements*/
/*In order in which they appear in html*/
body {
    transition: background-color .5s;
    margin: 0;
    background-color: white; /*Body background color*/
    font-family: "Lato", sans-serif;
}

header {
    display: flex;
    padding: 5px;
    background-color: rgb(53, 53, 53); /*Header color*/
    border-bottom: 0.1px solid white; /*Bottom Border Color*/
}

nav {
    background-color: rgb(35, 145, 40); /*Nav bar color*/
    padding-top: 2px;
    /*padding: 1px;
    padding-bottom: 1px;*/
    height: 40px;
    border-bottom: 0.1px solid white; /*Bottom Border Color*/
}

main {
    margin-left: 12.5%;
    margin-right: 12.5%;
    height: 100%;
    text-align: center;
    /*border: 1px red solid;*/
}

footer {
    background-color: #e4e4e4; /*footer color*/
}

/*ID's*/
/*In order in which they appear in html*/
#logo {
    margin: auto;
    height: 50px;
    width: 200px;
    background-color: white;
}

#navbar {
    transition: margin-left .5s;
    padding: 5px;
}

#menubutton {
    transition: 1s;
    margin-bottom: 5px;
    height: 25px;
    width: 25px;
    cursor: pointer
}

/*Classes*/

/*Other*/
