@page
@model DashboardPro.Pages.IndexModel

<!DOCTYPE html>
<html>
<head>
    <!--Style Sheets-->
    <link rel="stylesheet" href="~/css/global.css">
    <link rel="stylesheet" href="~/css/nav.css">
    <!--Scripts-->
    <script src="https://code.jquery.com/jquery-3.4.0.js"></script>
    <script src="~/JS/data.js"></script>
    <script src="~/JS/index.js"></script>
    <script src="~/JS/nav.js"></script>
</head>
<body >
    <header>
        <img src="~/assets/logo.png" />
    </header>
    <nav>
        <span><img id="menubutton" src="~/assets/menuicon.png" /></span>
        <div id="sidebar"></div>
    </nav>
    <main>
        <input type="button" value="Demo 1" id="buttonDemo1" onclick="ConnectionTest()" />
        <br />
        <span id="result4"></span>
    </main>
    <footer></footer>
</body>
</html>

